
body { width: 100%; min-height: 100%; font-family: "Open Sans", "Raleway", Lucida Sans Unicode, Verdana, Helvetica, sans-serif; font-size: 14px; line-height: 23px; color: #7a7a7a; -webkit-font-smoothing: antialiased; text-rendering: optimizeLegibility;}

h1, h2, h3, h4, h5, h6 { font-weight: 300; font-family: "Raleway", Lucida Sans Unicode, "Helvetica Neue", Helvetica,Arial,sans-serif; color: #1a1a1a; transition: all .50s ease-in-out; -moz-transition: all .50s ease-in-out; -webkit-transition: all .50s ease-in-out;}
h1, h2, h3, h4, h5, h6 { margin-top: 0;  margin-bottom: 10px;}

h1 {font-size: 44px;}
h2 {font-weight: 700; margin-bottom: 20px; }

p { margin-bottom: 20px; line-height: 24px;}

a {-webkit-transition: all 150ms ease-in; -moz-transition: all 150ms ease-in; -o-transition: all 150ms ease-in; transition: all 150ms ease-in; color: #00a8d6;}
a:hover, a:focus { text-decoration: none; color: #007DA0; outline: none; } 

ul { margin: 0; padding: 0; list-style: none;}


hr {margin-top: 30px; margin-bottom: 40px; border-top: 1px solid #EFEFEF;}

form {margin-bottom: 0;}

/* ==========================================================================
 Navigation
========================================================================== */ 
.menu-right {float: right;}
.navbar-inverse { margin-bottom: 0; -webkit-border-radius: 0; -moz-border-radius: 0;border-radius: 0; -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out; -moz-transition: background .5s ease-in-out,padding .5s ease-in-out; transition: background .5s ease-in-out,padding .5s ease-in-out; border: none; background-color: rgba(0,0,0,0.4); padding: 15px 0; }
.navbar-inverse .navbar-nav > li > a { color: #fff; display: block; -webkit-transition: all 100ms ease-in-out; -moz-transition: all 100ms ease-in-out; -o-transition: all 100ms ease-in-out; -ms-transition: all 100ms ease-in-out; transition: all 100ms ease-in-out; }

.navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-nav > li {-webkit-transition: all 400ms linear; -moz-transition: all 400ms linear; -o-transition: all 400ms linear; -ms-transition: all 400ms linear; transition: all 400ms linear;}

.navbar-toggle { padding: 4px 6px; font-size: 16px; color: #fff;}
.navbar-toggle:focus,
.navbar-toggle:active { outline: 0;}

.navbar-inverse .navbar-toggle { background: #08b4da; border: none;}
.navbar-nav {margin: 0;}
.scroll-fixed-navbar {padding-bottom:0;}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {background-color: transparent;}
.navbar > .container .navbar-brand {margin-left: 0;}
.navbar-brand { height:auto;}

.scroll-fixed-navbar { padding: 10px 0; background-color: #FFF; -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.1); -moz-box-shadow: 0 0 7px rgba(0, 0, 0, 0.1); box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);}
.scroll-fixed-navbar .navbar-nav > li > a {color: #333;}
.scroll-fixed-navbar .navbar-nav > li > a:hover, 
.scroll-fixed-navbar .navbar-nav > li.active > a,
.scroll-fixed-navbar .navbar-nav > li.active > a:hover {color: #00a8d6; }

.navbar-toggle { position: relative; float: right; background-color: transparent; padding: 10px; margin: 13px 30px 13px 0; border: none; color: #fff; border: 2px solid #fff;}
.navbar-toggle .icon-bar { background-color: #fff;}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {border-color: rgba(0,0,0,0.1);}

/* ==========================================================================
Logo
======================================================.==================== */ 
.navbar-inverse .navbar-brand  {color: #FFF; font-size: 30px; font-weight: 700; padding: 0;}
.scroll-fixed-navbar.navbar-inverse .navbar-brand  {color: #1a1a1a; font-size: 30px; font-weight: 700; padding: 0;}

/* ==========================================================================
Banner
========================================================================== */ 

.banner-content {
    background-image: url(../img/pic3.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
img.image-2{
    margin-left:20px;
}


/* ==========================================================================
Forms
========================================================================== */ 
.banner-form { background: #F2F2F2;width:400px;margin-top: -300px;}
.form-title {color: rgba(0, 51, 102, 1); text-align: center; padding: 25px 0; font-size: 28px; font-weight: 700;}
.form-title h2 {margin-bottom: 0; font-size: 22px;}
.form-body {padding: 30px;}
.form-body p {color: rgba(255,255,255,0.6);}

.banner-form .form-control { color: #08b4da; border: none; outline: none; box-shadow: none; padding: 13px 15px; transition: all 0.2s ease-in-out; -moz-transition: all 0.2s ease-in-out; -webkit-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; border-radius: 0; height: auto; margin-bottom: 15px;}

.btn-submit { display: block; margin:0 auto; background-color: #08b4da; color: #FFF; border-color:rgba(0,0,0,0.01); width:100%; padding: 11px; border:2px solid #08b4da;}
.btn-submit:hover {background: #08b4da; border-color: #08b4da;}

/* ==========================================================================
Footer
 ========================================================================== */

.footer-top {background-color: rgba(242, 242, 242, 1); padding: 70px 0;}
.footer-sub {background-color: rgba(79, 79, 79, 1);  padding-top: 5px;}

.footer h3 {color: #FFF; font-weight: bold; font-size: 19px; margin-bottom:15px;}
.footer p,
.footer a {color: #ADADAD; margin-bottom: 10px;}
.footer li {padding: 3px 0; font-size: 14px;}
.footer i {color: #f8f8f8;}

.copyright {text-align: center;}


/* ==========================================================================
Media Queries
 ========================================================================== */
/* ------ Tablet Portrait size to standard 960 (devices and browsers) ------*/
@media only screen and (min-width: 768px) and (max-width: 959px) {
    img {margin: 20px auto;}
    .img-thumbnail {margin: 0;}
    img.image-2{
        margin-left:auto;
    }
}

/* ------ Mobile Landscape Size to Tablet Portrait (devices and browsers) ------*/
@media only screen and (max-width: 767px) {
    .navbar-inverse {background-color: #FFF; padding:0;}
    .navbar > .container .navbar-brand {margin-left: 15px; color: #1a1a1a; margin-top: 15px;}
    .menu-right {float: none;}
    .navbar-inverse .navbar-nav > li > a {color: #1a1a1a;}
    .navbar-inverse .navbar-nav > .active > a, 
    .navbar-inverse .navbar-nav > .active > a:hover, 
    .navbar-inverse .navbar-nav > .active > a:focus,
    .navbar-inverse .navbar-nav > li > a:hover { color: #00A8D6;}
    img {display: block; margin: 20px auto;}
    .section {padding: 70px 0;}
    .main-point {margin-bottom: 40px;}
    .img-thumbnail {margin: 0;}
    img.image-2{
        margin-left:auto;
    }
}

/* ------ Mobile Portrait Size to Mobile Landscape Size (devices and browsers) ------*/
@media only screen and (max-width: 479px) {
    #first .smashinglogo{
        background-size:100% 50% !important;
        background-position:bottom !important;
        background-attachment:unset !important;
        height: 56vh !important;
    }
    .banner-form{
        margin-top:20px;
    }
    .form-title{
        margin-right: 50px;
    }
}
nav.navbar.navbar-inverse.navbar-fixed-top{
    background:#FFFFFF;
    border-top: 8px solid #003366;
    ;
}
.more-info-section{
    background: #003366;
    padding-left: 5px;
}
.more-info-section .first-info{
    font-style: normal;
    font-size: 35px;
    font-weight: 700;
    color: #FFFFFF;
    line-height: 50px;
    margin-top: 20px;

}

.more-info-section .second-info{
    font-style: normal;
    font-size: 18px;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 25px;

}
.more-info-section .third-info{
    font-style: normal;
    font-size: 20px;
    font-weight: 600;
    color: #FFFFFF;
    line-height: 28px;
    margin-top: 20px;	

}
.more-info-section .first-info-new{
    font-style: normal;
    font-size: 30px;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 30px;
}

textarea, input {
    padding:10px;
    font-family: FontAwesome, "Open Sans", Verdana, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}
#intro .intro-left{
    font-style: normal;
    font-size: 20px;
    font-family: Open Sans;
    font-weight: 600;
    color: rgba(0, 51, 102, 1);
    line-height: 38px;
}
#intro .intro-bottom{
    font-style: normal;
    font-size: 18px;
    font-family: Open Sans;
    font-weight: 400;
    color: rgba(79, 79, 79, 1);
    line-height: 34px;
}
.intro-right h2{
    font-style: normal;
    font-family: Open Sans;
    font-size: 24px;
    font-weight: 600;
    color: rgba(79, 79, 79, 1);
    line-height: 36px;
}
.alert-heading{
    font-style: normal;
    font-size: 30px;
    font-weight: 700;
    color: rgba(0, 51, 102, 1);
    line-height: 32px;
    text-transform: uppercase;
}

.posted-content {
    border-radius: 4px;
    border-color: #e7e7e7;
    border: 1px solid rgba(0, 0, 0, 0.1);
    max-width: 1140px;
    height: 80px;
    background-color: #f8f8f8;
    margin-bottom: 0px;
    vertical-align: middle;
}

.container-fluid .centered-vertically{
    display:flex;
    background: rgba(225, 232, 237, 0.4);
    align-items:center;
}

.posted-content-info p{ 
    font-style: normal;
    font-size: 18px;
    padding-top: 12px;
    font-family: Open Sans;
    font-weight: 400;
    color: rgba(79, 79, 79, 1);
    line-height: 26px;
}

.container-fluid{
    margin-bottom: 10px;
}
.footer .copyright{
    color: rgba(224, 224, 224, 1);

}
.footer-top .heading{
    font-style: normal;
    font-family: Open Sans;
    font-size: 20px;
    padding-left: 10px;
    font-weight: 600;
    color: rgba(0, 51, 102, 1);
    line-height: 27.24px;
}

.footer-top .person-name{
    font-style: normal;
    font-family: Open Sans;
    font-size: 20px;
    padding-left: 10px;
    font-weight: 600;
    color: rgba(51, 51, 51, 1);
    line-height: 27.24px;
}

.footer-top .person-position{
    font-style: normal;
    font-family: Open Sans;
    font-size: 16px;
    padding-left: 10px;
    font-weight: 400;
    color: rgba(79, 79, 79, 1);
    line-height: 21.79px;
}

.footer-top .person-description{
    font-style: normal;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    color: rgba(79, 79, 79, 1);
    line-height: 24px;
}
.btn-register{
    background: #00CCCC;
}

#first .smashinglogo {background: url(../img/pic3.png)  50% 100px no-repeat fixed;height: 70vh;}
